{
  "tabWidth": 4,
  "useTabs": false,
  "plugins": [
    "prettier-plugin-sql"
  ],
  "overrides": [
    {
      "files": "*.sql",
      "options": {
        "parser": "sql",
        "language": "postgresql"
      }
    }
  ]
}